.drag-holder,
.big-drag-holder {
	display: flex;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px 4px 0 0;
}

.big-drag-holder {
	background-color: rgb(0, 0, 0);
	border-radius: 0;
}

.drag,
.big-drag {
	width: 100%;
	height: 30px;
}

.drag-btns-holder {
	display: flex;
	justify-content: space-between;
}

.btn-drag {
	padding: 0.3rem 0.5rem;
	width: 1rem;
	text-align: center;
	color: white;
}

.roll-btn-drag {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(180deg);
}

.hide-btn-drag:hover,
.roll-btn-drag:hover {
	background-color: rgba(100, 100, 100, 0.3);
}

.close-btn-drag:hover {
	background-color: rgba(180, 30, 30);
	border-radius: 0 4px 0 0;
}

.app {
	display: none;
	position: absolute;
	z-index: 50;
	left: 25vw;
	top: 25vh;
}

.big-app {
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 100vh;
}

#calculator {
	width: 220px;
	z-index: 500;
	color: white;
	border-radius: 4px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.8);
}

.calc-buttons-holder {
	padding: 1rem;
	margin: auto;
}

.calc-number-holder {
	min-height: 40px;
	max-width: 210px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow-x: hidden;
}

.calc-number {
	text-align: end;
	font-size: 34px;
}

.calc-buttons {
	padding-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}

.calc-btn {
	width: 40px;
	height: 40px;
	color: white;
	margin: 2px;
	transition: 0.1s ease;
	border: none;
	font: inherit;
	border-radius: 2px;
	background-color: rgb(250, 140, 0);
}

.calc-black-btn {
	background-color: rgb(49, 49, 49);
}

.calc-btn:hover {
	filter: brightness(80%);
}

.notes-background {
	width: 300px;
	height: 300px;
}

#camera {
	background-color: rgb(40, 40, 40);
	color: white;
}

.camera-children-holder {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: rgb(40, 40, 40);
}

.take-photo-btn-holder {
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#take-photo-btn {
	border-radius: 50%;
	background-color: white;
	border-radius: 3px solid rgb(31, 31, 31);
	width: 45px;
	height: 45px;
}

#take-photo-btn:hover {
	background-color: rgb(220, 220, 220);
}

#take-photo-btn:active {
	background-color: rgb(180, 180, 180);
}

.change-camera-btn-holder {
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#change-camera-btn {
	border-radius: 50%;
	background-color: white;
	border-radius: 3px solid rgb(31, 31, 31);
	width: 45px;
	height: 45px;
	background-image: url('./img/change-camera-btn.svg');
	transition: 0.5 ease-in-out;
}

#change-camera-btn:hover {
	background-color: rgb(220, 220, 220);
}

.images-children-holder {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
}

input[type=file] {
	display: none;
}

.images-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1rem 1rem 0 1rem;
	overflow-y: scroll;
	height: 85%;
	width: 95%;
	margin: auto;
}

.image-holder {
	width: 150px;
	height: 150px;
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	transition: 0.2s;
}

.image-holder:hover .image-remove {
	opacity: 1;
}

.image-holder:hover .image-info {
	bottom: 0;
}

.image-holder:hover {
	background-color: rgb(230, 230, 230);
}

.removing {
	transform: scale(0);
	transition: transform 0.2s;
}

.image {
	max-width: 150px;
	max-height: 150px;
}

.add-img-holder {
	box-shadow: 0 0 4px black;
	background-color: white;
	position: absolute;
	bottom: 0;
	border-top: solid 1px rgb(90, 90, 90);
	width: 100%;
	height: 8%;
	display: flex;
	justify-content: end;
	align-items: center;
}

.add-image-btn {
	margin-right: 1rem;
	border-radius: 2px;
	outline: none;
	color: white;
	border: none;
	font-weight: 500;
	padding: 0.3rem 0.5rem;
	background-color: rgb(90, 90, 90);
}

.add-image-btn:hover {
	background-color: rgb(80, 80, 80);
}

.image-remove {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.2s;
}

.image-info {
	height: 25px;
	width: 100%;
	position: absolute;
	bottom: -30px;
	background-color: rgba(200, 200, 200, 0.9);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 300;
	font-size: 10px;
	transition: bottom 0.2s;
}

#document {
	background-color: rgb(248, 249, 250);
	user-select: none;
}

.top-task-bar-document {
	background-color: white;
	border-bottom: 1px solid rgb(220, 220, 220);
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.top-task-bar-document * {
	transition: 0.2s ease;
}

.top-task-bar-document i {
	padding: 0.5rem;
	border-radius: 10px;
}

.document-btn:hover {
	background-color: rgb(230, 230, 230);
}

.top-task-bar-document input[type=color] {
	background-color: transparent;
	-webkit-appearance: none;
	outline: none;
	overflow: hidden;
	border: none;
	height: 30px;
	width: 40px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: solid 1px black;
}

input[type=color]::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type=color]::-moz-color-swatch {
	border: solid 1px black;
}

.document-input-holder {
	width: 100%;
	height: 80vw;
	background-color: rgb(248, 249, 250);
	display: flex;
	justify-content: center;
}

.document-size-btn {
	outline: none;
	background-color: white;
	padding: 5px;
	font-weight: 800;
}

.document-size-btn option {
	font-weight: 600;
}

#text-input-document {
	overflow: scroll;
	margin-top: 3rem;
	width: 70%;
	padding: 2rem;
	resize: none;
	border: none;
	outline: none;
	box-shadow: 0 1px 3px 1px rgb(60 64 67 / 15%);
	font-weight: 400;
}

#notes {
	background-color: #88ABFF;
}

.notes-section {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	overflow-y: scroll;
	height: 90vh;
}

.notes {
	height: 33vh;
	background-color: white;
	margin: 1rem;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #88ABFF;
	transition: 0.2s ease;
	padding: 1rem;
}

.notes:hover {
	box-shadow: 1px 1px 3px black;
}

#add-notes {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#add-notes:hover .add-notes-circle p {
	transform: rotate(180deg);
}

.add-notes-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 4px #88ABFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-notes-circle p {
	color: #88ABFF;
	font-size: 50px;
	font-weight: 500;
	transition: 0.2s ease-in-out;
}

.add-notes-text {
	margin-top: 2rem;
	font-size: 20px;
	font-weight: 500;
}

.title-notes {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.note-input,
.note-textarea {
	user-select: text;
}

.note-input::selection,
.note-textarea::selection {
	background-color: #88ABFF;
}

.notes-btn-holder {
	display: flex;
	justify-content: flex-end;
}

.notes-btn {
	margin-right: 1rem;
	background-color: rgb(31, 31, 31);
	color: white;
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 4px 8px;
	margin: 0.5rem;
}

.notes-btn:hover {
	background-color: rgb(50, 50, 50);
}

.notes-btn:active {
	background-color: rgb(60, 60, 60);
}

.note-input {
	border: none;
	outline: none;
	padding: 0.2rem;
	margin-bottom: 1rem;
	width: 100%;
	font-weight: 500;
	font-size: 18px;
}

.note-textarea {
	border: none;
	outline: none;
	height: 65%;
	max-height: 65%;
	width: 100%;
	resize: none;
	padding: 0.2rem;
	font-size: 16px;
}

.note-textarea::-webkit-scrollbar-thumb {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: transparent;
}

.notes:hover .note-textarea::-webkit-scrollbar-thumb {
	background-color: rgba(76, 76, 76);
}

#computer {
	background: conic-gradient(blue, red);

}

.computer-content-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}

.password-children-holder {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: #CAEDF7;
}

#password-input {
	padding: 1rem;
	font-size: 22px;
	font-weight: 500;
	outline: none;
	border: none;
}

#password-input::selection {
	background-color: #DD2222;
	color: white;
}

#password-length {
	font-size: 20px;
	font-weight: 500;
	outline: none;
	text-align: center;
	-moz-appearance: textfield;
	appearance: textfield;
}

#password-length::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.password-btns-holder button {
	outline: none;
	padding: 0.2rem 0.4rem;
	font-size: 14px;
	border-radius: 4px;
	border: none;
	margin: 1rem 0;
	color: white;
	background-color: #C21E1E;
	font-weight: 500;
}

#password-generate {
	padding: 0.4rem 0.6rem;
	font-size: 18px;
}

.password-btns-holder button:hover {
	filter: brightness(120%);
}

.password-btns-holder button:active {
	filter: brightness(150%);
}

.custom-checkbox-password {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	border-radius: 4px;
	background-color: #DD2222;
	box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 25%);
	margin: 0 0.5rem 0.5rem 0;
	transition: 0.2 ease;
	cursor: pointer;
}

.custom-checkbox-password i {
	color: white;
}

.paint-children-holder {
	background-color: rgb(209, 218, 233);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.paint-task-bar {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.paint-task-bar i {
	border: solid 2px;
	border-radius: 2px;
	background: white;
	padding: 0.4rem 0;
	width: 40px;
	text-align: center;
	transition: 0.2s ease;
}

.paint-task-bar i:hover {
	filter: brightness(90%);
}