.drag-holder, .big-drag-holder{
	display: flex;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px 4px 0 0;
}
.big-drag-holder{
	background-color: rgb(0, 0, 0);
	border-radius: 0;
}
.drag, .big-drag{
	width: 100%;
	height: 30px;
}
.drag-btns-holder{
	display: flex;
	justify-content: space-between;
}
.btn-drag{
	padding: 0.3rem 0.5rem;
	width: 1rem;
	text-align: center;
}
.roll-btn-drag{
	background-image: url('./img/double_square.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1rem;
}
.hide-btn-drag:hover, .roll-btn-drag:hover{
	background-color: rgba(100, 100, 100, 0.3);
}
.close-btn-drag:hover{
	background-color: rgba(180, 30, 30);
	border-radius: 0 4px 0 0;
}
.app{
	display: none;
	position: absolute;
	z-index: 50;
	left: 25vw;
	top: 25vh;
}
#calculator{
	width: 220px;
	z-index: 500;
	color: white;
	border-radius: 4px;
	-webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.8);
}
.calc-buttons-holder{
	padding: 1rem;
	margin: auto;
}
.calc-number-holder{
	min-height: 40px;
	max-width: 210px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow-x: hidden;
}
.calc-number{
	text-align: end;
	font-size: 34px;
}
.calc-buttons{
	padding-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}
.calc-btn{
	width: 40px;
	height: 40px;
	color: white;
	margin: 2px;
	transition: 0.1s ease;
	border: none;
    font: inherit;
	border-radius: 2px;
	background-color: rgb(250, 140, 0);
}
.calc-black-btn{
	background-color: rgb(49, 49, 49);
}
.calc-btn:hover{
	filter: brightness(80%);
}
.notes-background{
	width: 300px;
	height: 300px;
}
#camera{
	width: 100vw;
	height: 100vh;
	background-color: rgb(31, 31, 31);
	color: white;
	top: 0;
	left: 0;
	z-index: 1000;
}
.camera-child-holder{
	display: flex;
	justify-content: center;
    flex-direction: column;
    align-items: center;
}

.take-photo-btn-holder{
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#take-photo-btn{
	border-radius: 50%;
	background-color: white;
	border-radius: 3px solid rgb(31, 31, 31);
	width: 45px;
	height: 45px;
}
#take-photo-btn:hover{
	background-color: rgb(220, 220, 220);
}
#take-photo-btn:active{
	background-color: rgb(180, 180, 180);
}
.change-camera-btn-holder{
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#change-camera-btn{
	border-radius: 50%;
	background-color: white;
	border-radius: 3px solid rgb(31, 31, 31);
	width: 45px;
	height: 45px;
	background-image: url('./img/change-camera-btn.svg');
	transition: 0.5 ease-in-out;
}
#change-camera-btn:hover{
	background-color: rgb(220, 220, 220);
}


