#calculator{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(20, 20, 20);
	width: 220px;
	z-index: 500;
	color: white;
	border-radius: 4px;
}
.calc-buttons-holder{
	padding: 1rem;
	margin: auto;
}
.calc-number-holder{
	min-height: 40px;
	max-width: 210px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow-x: hidden;
}
.calc-number{
	text-align: end;
}
.calc-buttons{
	padding-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
}
.calc-btn{
	width: 40px;
	height: 40px;
	color: white;
	margin: 2px;
	transition: 0.1s ease;
	border: none;
    font: inherit;
	border-radius: 2px;
	background-color: rgb(250, 140, 0);
}
.calc-btn:hover{
	filter: brightness(80%);
}
.calc-btn:active{
	filter: brightness(60%);
}
